<main class="container" style="width: 500px">
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),html: { class: "user-form" }) do |f| %>
      <%= f.label 'User:' %>
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  class: "user-form__input",
                  input_html: { autocomplete: "email" } %>
      <%= f.label 'Password:' %>
      <%= f.input :password,
                  required: false,
                  class: "user-form__input",
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "btn btn--secondary" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</main>
